/*配色*/
.peise {
    /*margin-top: 50px;*/
    height: 50px;
    background-color: rgb(255, 244, 224);
}

/*vip_tab*/
.vip_tab {
    /*margin-top: 50px;*/
    height: 140px;
    /*padding: 0 15px;*/

}

.vip_tab .left, .right {
    box-sizing: border-box;
    width: 48%;
    /*height: 140px;*/
    /*background-color: rgb(250, 255, 240);*/
    float: left;
    margin: 1%;
    border: 1px rgb(112, 164, 0) solid;
    border-radius: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

/*.vip_tab .left img {*/
/*    display: none;*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    right: 0;*/
/*}*/

/*.vip_tab .left:hover img {*/
/*    display: block;*/
/*}*/

/*.vip_tab .right:hover img {*/
/*    display: block;*/
/*}*/

/*.vip_tab .right img {*/
/*    display: none;*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    right: 0;*/
/*}*/

.vip_tab dt {
    font-weight: 500;
    font-size: 18px;
    margin: 10px auto 10px;
}

.vip_tab dd:nth-child(2) {
    color: #ff6600;
    margin: 5px auto;
}

.vip_tab dd:nth-child(3) {
    color: #999999;
    margin: 5px auto;
}

/*.vip_tab .right{*/
/*    width: 48%;*/
/*    height: 131px;*/
/*    background-color: green;*/
/*    float: left;*/
/*    margin: 5px;*/
/*    border: 1px black solid;*/
/*}*/


/*大学信息*/
.college_information {
    display: none;
    width: 100%;
    height: 40px;
    margin: 0 1%;
    font-size: 14px;
    font-weight: 700;

    /*margin-top: 200px;*/
    /*background-color: pink;*/
}

.college_information span {
    color: rgb(112, 164, 0);
}

/*列表*/
.list {
    /*margin-top: 10px;*/
    display: flex;
    flex-wrap: wrap;

}

.list_title {
    width: 100%;
    display: flex;
    height: 30px;
    margin: 0 1%;
    line-height: 30px;


}

.list_title span {
    /*padding: 5px;*/
    height: 30px;
    font-size: 18px;
    color: #333;
    font-weight: 400;

}

.list_title i {
    flex: 1;
    margin-left: 5px;
    margin-right: 5px;
    height: 15px;
    border-bottom: 1px solid;
}

/*图片*/
.list ul {
    margin: 0;
    padding: 0;
    width: 100%;
    /*display: flex;*/
    /*!*flex-direction: row;*!*/
    /*flex-wrap: wrap;*/

}

.list ul li {
    box-sizing: border-box;
    list-style: none;
    width: 48%;
    height: 50px;
    float: left;
    border: 1px #e4e4e4 solid;
    margin: 1%;
    border-radius: 5px;
}

.xuanzhong {
    background: url("../images/xuanzhong.png") no-repeat;
    background-color: rgb(250, 255, 240);
    background-size: 10%;
    background-position: right bottom;
}

.list ul li img {
    width: 15%;
    display: inline-block;
    vertical-align: middle;
    float: left;
    margin-left: 5px;
    /*line-height: 50px;*/
}

.list ul li div {
    width: 80%;
    height: 50px;
    display: block;
    /*background-color: pink;*/
    float: right;

}

/*.list ul li span {*/
/*    display: inline-block;*/
/*    width: 35px;*/
/*    height: 35px;*/
/*    background-color: pink;*/
/*    border-radius: 20px;*/
/*    text-align: center;*/
/*    line-height: 35px;*/
/*    font-size: 30px;*/
/*    font-weight: 700;*/
/*    color: #ffffff;*/
/*    vertical-align: middle;*/
/*    margin: 5px 5px 5px 5px;*/
/*}*/

.list ul li i {
    /*display: block;*/
    height: 25px;
    /*background-color: black;*/
    font-size: 14px;
    font-weight: 400;
}

.list ul li h5 {
    display: block;
    height: 25px;
    /*overflow: hidden;*/
    /*background-color: skyblue;*/
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
}


/*确认*/
.but-vip {
    width: 100%;
    display: block;
    border: none;
    border-radius: 8px;
    overflow: hidden;
}

.but-vip a {
    padding: 10px 0;
    display: block;
    font-size: 18px;
    background-color: #70a400;

}