* {
    margin: 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

body {
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
}

/*头部*/
header {
    max-width: 640px;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
    height: 50px;
    background-color: rgb(112, 164, 1);
    position: fixed;
    top: 0;
}

.i_top_return img {
    float: left;
    height: 50px;
    line-height: 50px;
}

.i_top_logo {
    float: left;
}

.i_top_logo img {
    height: 30px;
    margin: 10px 10px;
}

.i_top_more img {
    float: right;
    height: 30px;
    margin: 10px 15px;
}

.i_top_search {
    float: right;
    margin: 10px;
}

.i_top_search img {
    width: 30px;
}

/*轮播图*/
.main_visual {
    height: 169px;
}

.main_visual ul {

    list-style: none;
    width: 100%;
    /*overflow: hidden;*/

}

.main_visual ul li {
    margin-top: 50px;
    float: left;
}

.main_visual ul li:nth-child(-n+3) { /*前三个隐藏*/
    display: none;
}

.main_visual ul li img {
    width: 100%;
}

/*分类*/
.menu {
}

.menu .menu_li {
    box-sizing: border-box;
    float: left;
    width: 50%;
    height: 65px;
    padding: 10px 20px;
}

.menu .menu_li img {
    vertical-align: middle;
    width: 45px;
}

.menu .menu_li:nth-child(6) {
    /*display: none;*/
    color: #9999;
    font-size: 14px;
    line-height: 45px;
    padding: 10px 10px 10px 35px;
}

.menu::after {
    width: 100%;
    overflow: hidden;
    content: "1";
    font-size: 0;
    display: block;

}

/*列表*/
.list {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;

}

.list_title {
    width: 100%;
    display: flex;
    height: 30px;

}

.list_title span {
    padding: 5px;
    height: 30px;
    font-size: 18px;
    color: #333;
    font-weight: 700;

}

.list_title i {
    flex: 1;
    margin-right: 5px;
    height: 20px;
    border-bottom: 1px #e4e4e4 solid;
}

/*图片*/
.i_list_01 {
    /*display: flex;*/
    /*box-sizing: border-box;*/
    /*margin: 10px 5px;*/
    width: 50%;
}

.i_list_01 img {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
}

.i_list_01 span {
    padding: 5px;
}


/*底部*/
footer {
    width: 100%;
    display: flex;
    height: 49px;
    /*border-bottom: 1px black solid;*/
    margin-top: 25px;
    margin-bottom: 20px;
    justify-content: flex-end;
}

footer a {

    /*width: 25%;*/
    height: 65px;
    display: block;
    /*background-color:black;*/
    margin: 0 10px;
    text-align: center;
    text-decoration: none;
    color: #333333;
    /*width: 25%;*/
}

footer a:nth-child(1) {
    text-align: left;
}

footer a:nth-child(4) {
    text-align: right;
}

footer img {
    /*text-align: center;*/
    /*display: block;*/
    width: 30%;
}

footer span {
    display: block;
    /*width: 25%;*/
}

/*底部*/
/*底部*/
#di {
    width: 100%;
    /*height: 45px;*/
    bottom: 0;
    max-width: 640px;
    min-width: 320px;
    position: fixed;
    background-color: #fff;
}

#di ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 35px;
    position: relative;


}

#di li {
    width: 100%;
    /*height: 55px;*/
    padding-bottom: 0;
}

#di li:nth-child(1) {
    width: 25%;
    float: left;
    left: 0;

}

#di li:nth-child(2) {
    width: 25%;
    float: left;
    left: 0;
    text-align: center;

}

#di li:nth-child(3) {
    width: 25%;
    float: left;
    left: 0;
    text-align: center;

}

#di li:nth-child(4) {
    width: 25%;
    float: left;
    left: 0;
    text-align: right;

}