/*欢迎页面*/
.huanyingxianshi {
    display: none;
    width: 100%;
    /*height: 400px;*/
    box-sizing: border-box;
    /*background-color: #c0c0c0;*/
    /*border: 1px black solid;*/
    margin-top: 50px;
}
.huanyingxianshi div{
    margin-left:50%;
    transform: translate(-50%);
    display: inline-block;
    /*background-color: pink;*/
    /*text-align: center;*/
}
.huanyingxianshi .touxiang {
    display: block;
    margin: 60px auto 5px;
    border-radius: 40px;
}

.huanyingxianshi a {
    text-decoration: none;
    color: #999999;
    display: block;
    /*text-align: center;*/
    margin: 10px auto;
    white-space:nowrap;
}

.huanyingxianshi .tuichu {
    display: block;
    /*display: none;*/
    margin: 10px auto;
    font-size: 15px;
    padding: 0 15px;
}

.huanyingxianshi ul{
    margin: 0 auto;
    list-style: none;
    text-decoration:dashed;
    color: #999999;

}





/*登录显示页面*/
.dengluxianshi {
    display: none;
    width: 100%;
    height: 400px;
    box-sizing: border-box;
    /*background-color:#c0c0c0;*/
    border: 1px black solid;
    margin-top: 52px;
}

.dengluxianshi input {
    box-sizing: border-box;
    display: block;
    height: 30px;
    margin: 100px auto 10px;
    font-size: 20px;
    text-align: center;
    padding: 2px 30px;

}

.dengluxianshi #denglu {

    display: block;
    margin: 40px auto 30px;
    font-size: 20px;
    padding: 0 30px;
}

.dengluxianshi .tuichu {
    /*display: block;*/
    display: none;
    margin: 10px auto;
    font-size: 20px;
    padding: 0 30px;
}

#zhuceanniu {
    display: block;
    margin: 10px auto;
    font-size: 20px;
    padding: 0 30px;
}

a {
    margin: 0 auto;
}

/*注册*/

.zhucexianshi {
    display: none;
    width: 100%;
    /*height: 420px;*/
    box-sizing: border-box;
    /*background-color:#c0c0c0;*/
    /*border: 1px black solid;*/
    margin-top: 60px;
    padding-bottom: 40px;
    /*height: 1200px;*/
}

.zhucexianshi img {
    display: block;
    width: 40%;
    margin: 50px auto 0;
    pointer-events: auto; /*禁止none ，启用auto*/
}

.zhucexianshi p {
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
}

.zhucexianshi button {
    text-align: center;
    display: block;
    margin: 45px auto;
    font-size: 20px;
    padding: 0 20px;
    border: 1px black solid;

}
.zhucexianshi a{
    text-decoration: none;
    color: #000000;
}